.label {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}
.tile {
    shape-rendering: crispEdges;
}
svg {
    width: 100%;
    height: auto;
    margin: auto;
}
p {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 18px;
    margin: 0;
    text-transform: capitalize;
}
text {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 100;
    text-transform: capitalize;
}
#buttons {
    position: absolute;
    bottom: 0;
    text-align: center;
    background: #fff;
}
#viz1 {
    position: relative;
}
#mid_box {
    position: relative;
}
#viz2 {
    position: relative;
}
/*===========================
        INFO Table
=============================*/

.InfoTable {
    margin-top: 20%;
    padding: 0px;
    width: 100%;
    border: 1px solid #000000;
    -moz-border-radius-bottomleft: 17px;
    -webkit-border-bottom-left-radius: 17px;
    border-bottom-left-radius: 17px;
    -moz-border-radius-bottomright: 17px;
    -webkit-border-bottom-right-radius: 17px;
    border-bottom-right-radius: 17px;
    -moz-border-radius-topright: 17px;
    -webkit-border-top-right-radius: 17px;
    border-top-right-radius: 17px;
    -moz-border-radius-topleft: 17px;
    -webkit-border-top-left-radius: 17px;
    border-top-left-radius: 17px;
}
.InfoTable table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
.InfoTable tr:last-child td:last-child {
    -moz-border-radius-bottomright: 17px;
    -webkit-border-bottom-right-radius: 17px;
    border-bottom-right-radius: 17px;
}
.InfoTable table tr:first-child td:first-child {
    -moz-border-radius-topleft: 17px;
    -webkit-border-top-left-radius: 17px;
    border-top-left-radius: 17px;
}
.InfoTable table tr:first-child td:last-child {
    -moz-border-radius-topright: 17px;
    -webkit-border-top-right-radius: 17px;
    border-top-right-radius: 17px;
}
.InfoTable tr:last-child td:first-child {
    -moz-border-radius-bottomleft: 17px;
    -webkit-border-bottom-left-radius: 17px;
    border-bottom-left-radius: 17px;
}
.InfoTable tr:hover td {} .InfoTable tr:nth-child(odd) {
    background-color: #9bcef5;
}
.InfoTable tr:nth-child(even) {
    background-color: #ffffff;
}
.InfoTable td {
    vertical-align: middle;
    text-transform: capitalize;
    border: 1px solid #000000;
    border-width: 0px 1px 1px 0px;
    text-align: left;
    padding: 7px;
    font-size: 16px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    color: #000000;
}
.InfoTable tr:last-child td {
    border-width: 0px 1px 0px 0px;
}
.InfoTable tr td:last-child {
    border-width: 0px 0px 1px 0px;
}
.InfoTable tr:last-child td:last-child {
    border-width: 0px 0px 0px 0px;
}
.InfoTable tr:first-child td {
    background: -o-linear-gradient(bottom, #004b96 5%, #003972 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #004b96), color-stop(1, #003972));
    background: -moz-linear-gradient(center top, #004b96 5%, #003972 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#004b96", endColorstr="#003972");
    background: -o-linear-gradient(top, #004b96, 003972);
    background-color: #004b96;
    border: 0px solid #000000;
    text-align: center;
    border-width: 0px 0px 1px 1px;
    font-size: 16px;
    font-family: Helvetica;
    color: #ffffff;
}
.InfoTable tr:last-child td {
    font-weight: bold;
    border-top-width: medium;
    border-top-style: double;
}
.InfoTable tr:last-child td:last-child {
    font-weight: bold;
    border-top-width: medium;
    border-top-style: double;
}
.InfoTable tr:first-child td:first-child {
    border-width: 0px 0px 1px 0px;
}
.InfoTable tr:first-child td:last-child {
    border-width: 0px 0px 1px 1px;
}
/*===========================
        RADIO BUTTON
=============================*/

.styledRadio,
.styledCheckbox {
    display: inline-block;
}
.example {
    padding: 50px 0 0 20px;
}
label {
    line-height: 25px;
    font-size: 14px;
    vertical-align: 6px;
    padding-right: 10px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    color: white;
}
button {
    display: block;
}
/*===========================
        DROPDOWN
=============================*/

.styled-dropdown select {
    width: 60%;
    padding-left: 15px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 14px;
    line-height: 1;
    background: #9bcef5;
    border: 0;
    border-radius: 10;
    height: 25px;
    -webkit-appearance: none;
}
/*===========================
        BARCHART
=============================*/

.axis {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 50px;
    fill: #d9ffff;
}
.axis path,
.axis line {
    fill: none;
    stroke: #d9ffff;
    stroke-width: 5px;
    shape-rendering: crispEdges;
}
.bar {
    stroke: white;
}